[Unit]
Description=CalPi Service
After=network.target

[Service]
Restart=always
StandardOutput=inherit
StandardError=inherit
User=calpi
ExecStart=/home/calpi/waveshare-eink/run.sh
WorkingDirectory=/home/calpi/

[Install]
WantedBy=multi-user.target