[Unit]
Description=CalPi Service
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=1
User=calpi
ExecStart=/bin/bash -c "source ~/waveshare-eink/run.sh"

[Install]
WantedBy=multi-user.targe